<br>
<router-outlet></router-outlet>
<a routerLink="/">Về trang chủ</a>
<div class="text-center text-uppercase font-weight-bold">
  <span style="font-size: 24px">Đã đọc</span>
</div>
<div *ngIf="failMessage" class="alert alert-danger">
  <p>{{failMessage}}</p>
</div>
<div class="mt-lg-4">
  <form [formGroup]="bookForm" (ngSubmit)="updateStatus()">
    <div *ngFor="let book of bookList">
      <div *ngIf="book.read == true">
        {{book.name}}
        <button>Đọc lại</button>
      </div>
    </div>
  </form>
  <a routerLink="/list-book-read">Danh sách đọc</a>
</div>
